* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body {
    background-color: black;



}

.net {
    
    margin-left: 36px;
    margin-top: 36px;
    


}


h2 {
    color: #fff;
    margin-left: 700px;
    margin-top: 150px;
    font-size: 50px;

}

.logo {
    margin-left: 500px;
    margin-right: 36px;
    margin-top: 60px;
}

.azul {
    margin-right: 30px;
    width: 150px;
    height: auto;
    cursor: pointer;
}

.familia {
    margin-right: 30px;
    width: 150px;
    height: auto;
    align-items: center;
    cursor: pointer;
}

.amarelo {
    margin-right: 30px;
    width: 150px;
    height: auto;
    cursor: pointer;
}

.vermelho {
    margin-right: 30px;
    width: 150px;
    height: auto;
    cursor: pointer;
}

.kids {
    margin-right: 30px;
    width: 145px;
    height: auto;
    cursor: pointer;
}

.nomes {
    margin-top: 20px;
    margin-left: 530px;
    display: flex;


}

.tiago {
    font-size: 30px;
    margin-right: 100px;
    color: #fff;

}

.familia1 {
    font-size: 30px;
    color: #fff;
    margin-right: 100px;


}

.gisele {
    font-size: 30px;
    color: #fff;
    margin-right: 100px;

}

.pedro {
    font-size: 30px;
    color: #fff;
    margin-right: 100px;

}

.kids1 {
    font-size: 30px;
    color: #fff;
    margin-right: 100px;

}

.azul:hover {
    opacity: 0.8;

}

.familia:hover {
    opacity: 0.8;

}

.amarelo:hover {
    opacity: 0.8;

}

.vermelho:hover {
    opacity: 0.8;

}

.kids:hover {
    opacity: 0.8;

}

button {
    margin-left: 800px;
    margin-top: 80px;
   
    font-size: 20px;
    width: 300px;
    height: 50px;
    background: transparent;
    color: gray;
    border-color: gray;
    box-sizing: border-box;
    line-height: 27px;
    cursor: pointer;
}

button:hover {
opacity: 0.8;

}

button:active {
opacity: 0.8;

}

